# 1. Data Exploration


1.​ Load the provided datasets into Python (using pandas and
geopandas where necessary).


2.​ Perform initial exploratory data analysis (EDA):


○​ Check the structure, missing values, and basic statistics of
each dataset.


○​ Identify unique values for key categorical features.


○​ Investigate spatial relationships between different datasets
(e.g., how groundwater regions overlap with mining areas).

3.​ Summarize insights from your EDA in a short report.

Deliverables:

●​ A Jupyter Notebook with the code for data loading and exploration.

●​ A short markdown/text summary of key findings. It can be added to your code in Jupyter Notebook as markdown notes.

unique datasets: 
-   bergbaugebiete_v1_poly
-   gwerg_erg_v11_poly
-   gwerg_gestein_v1_poly
-   gwerg__v11_poly
-   uferfiltrat_v1_poly
-   uferfiltrat_v1_line

In [40]:
# Import necessary packages
import os
from pyhere import here
import geopandas as gpd
import pandas as pd
from dbfread import DBF

1. Load the provided datasets

In [ ]:
# screen folder for dbf files, load as pandas dfs, save dfs in dicts with filenames as keys
dfs = {}
folder_path = here("ERGW1000/ERGW1000_v1/shp")
for file in os.listdir(folder_path):
    if file.endswith(".dbf"):
        # create short filename
        filename = file.replace("ergw1000_", "")
        filename = file.replace(".dbf", "")
        path_to_file = os.path.join(folder_path, file)
        table = DBF(path_to_file, load=True,  encoding="utf-8")
        #convert to pandas df
        df = pd.DataFrame(iter(table))
        #save to dict
        dfs[filename] = df

In [37]:
for file, df in dfs.items():
    print("Dataset:", file)
    print("")
    display(df.info())
    display(df.describe())
    display(df.head())

Dataset: ergw1000_gwerg_gestein_v1_poly

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gestein_id  4 non-null      int64
 1   gestein     4 non-null      object
 2   Shape_STAr  4 non-null      float64
 3   Shape_STLe  4 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 260.0+ bytes

None

       gestein_id    Shape_STAr    Shape_STLe
count    4.000000  4.000000e+00  4.000000e+00
mean     1.500000  8.367160e+10  1.666899e+07
std      1.290994  6.596082e+10  8.907157e+06
min      0.000000  2.193712e+10  6.968575e+06
25%      0.750000  3.527179e+10  1.045299e+07
50%      1.500000  7.343578e+10  1.674008e+07
75%      2.250000  1.218356e+11  2.295608e+07
max      3.000000  1.658777e+11  2.622725e+07

,gestein_id,gestein,Shape_STAr,Shape_STLe
0,0,,1.071549e+11,2.622725e+07
1,1,"Kalkstein, Dolomit, Gips (Karstwasserleiter)",2.193712e+10,6.968575e+06
2,2,"Sandstein, Quarzit, Basalt, Kalkmergelstein (K...",3.971669e+10,1.161446e+07
3,3,"Sand, Kies, Tuff (Porenwasserleiter)",1.658777e+11,2.186569e+07

Dataset: ergw1000_bergbaugebiete__v1_poly

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dummy_      17 non-null     int64
 1   Shape_STAr  17 non-null     float64
 2   Shape_STLe  17 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 540.0 bytes

None

       dummy_    Shape_STAr     Shape_STLe
count    17.0  1.700000e+01      17.000000
mean      0.0  3.764313e+08   80009.697758
std       0.0  6.134345e+08   75125.952082
min       0.0  2.655368e+07   20230.199003
25%       0.0  4.876964e+07   32051.936863
50%       0.0  7.479384e+07   44318.133406
75%       0.0  4.231184e+08  102172.003704
max       0.0  2.086606e+09  261324.197057

   dummy_    Shape_STAr    Shape_STLe
0       0  7.479384e+07  35825.028477
1       0  3.182164e+07  20230.199003
2       0  1.228421e+08  51171.090325
3       0  6.042921e+07  32051.936863
4       0  2.249627e+08  81641.700733

Dataset: ergw1000_uferfiltrat__v1_line

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dummy_      131 non-null    int64
 1   Shape_STLe  131 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 2.2 KB

None

       dummy_     Shape_STLe
count   131.0     131.000000
mean      0.0   15956.373428
std       0.0   23838.836347
min       0.0    3417.556640
25%       0.0    4923.377071
50%       0.0    6655.355320
75%       0.0   15409.132345
max       0.0  186551.792655

   dummy_     Shape_STLe
0       0   71273.649957
1       0   21266.951191
2       0   22234.973540
3       0  186551.792655
4       0   17390.002670

Dataset: ergw1000_gwerg_erg_v11_poly

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1301 entries, 0 to 1300
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   erg_id      1301 non-null   int64
 1   bedeutung   1301 non-null   object
 2   ergiebigke  1301 non-null   object
 3   entn_bru    1301 non-null   object
 4   entn_werk   1301 non-null   object
 5   Shape_STAr  1301 non-null   float64
 6   Shape_STLe  1301 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 71.3+ KB

None

            erg_id    Shape_STAr    Shape_STLe
count  1301.000000  1.301000e+03  1.301000e+03
mean     10.018447  2.572532e+08  8.263410e+04
std       5.676236  1.599624e+09  3.445229e+05
min       0.000000  4.616934e+03  3.220921e+02
25%      11.000000  6.160046e+06  1.211909e+04
50%      13.000000  2.020107e+07  2.349867e+04
75%      13.000000  6.761554e+07  4.976451e+04
max      15.000000  2.709913e+10  7.138607e+06

   erg_id bedeutung ergiebigke entn_bru entn_werk    Shape_STAr    Shape_STLe
0       0                                          9.563682e+05   3984.917220
1       0                                          1.235037e+06   5259.974910
2       0                                          2.212805e+06   7280.022085
3       0                                          4.933951e+06  18500.374341
4       0                                          1.566186e+06   5560.163055

Dataset: ergw1000_gwerg__v11_poly

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473 entries, 0 to 1472
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   erg_id      1473 non-null   int64
 1   gestein_id  1473 non-null   int64
 2   bedeutung   1473 non-null   object
 3   ergiebigke  1473 non-null   object
 4   entn_bru    1473 non-null   object
 5   entn_werk   1473 non-null   object
 6   gestein     1473 non-null   object
 7   Shape_STAr  1473 non-null   float64
 8   Shape_STLe  1473 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 103.7+ KB

None

            erg_id   gestein_id    Shape_STAr    Shape_STLe
count  1473.000000  1473.000000  1.473000e+03  1.473000e+03
mean     10.353700     1.653768  2.272141e+08  7.708364e+04
std       5.450289     1.334488  1.446169e+09  3.066477e+05
min       0.000000     0.000000  4.616934e+03  3.220921e+02
25%      11.000000     0.000000  7.207284e+06  1.303570e+04
50%      13.000000     2.000000  2.380120e+07  2.582869e+04
75%      13.000000     3.000000  7.901128e+07  5.673716e+04
max      15.000000     3.000000  2.707973e+10  7.132817e+06

,erg_id,gestein_id,bedeutung,ergiebigke,entn_bru,entn_werk,gestein,Shape_STAr,Shape_STLe
0,13,3,Bedeutende Grundwasservorkommen,weniger oder wechselnd ergiebig,meist 5 - 15 (l/s),"meist 0,2 - 1 (hm3/a)","Sand, Kies, Tuff (Porenwasserleiter)",1.639614e+09,350189.434423
1,15,0,Keine bedeutenden Grundwasservorkommen,örtliche Vorkommen können für die Versorgung w...,meist < 2 (l/s),,,1.111391e+07,16615.602796
2,13,3,Bedeutende Grundwasservorkommen,weniger oder wechselnd ergiebig,meist 5 - 15 (l/s),"meist 0,2 - 1 (hm3/a)","Sand, Kies, Tuff (Porenwasserleiter)",9.922033e+06,23933.375167
3,11,3,Bedeutende Grundwasservorkommen,sehr ergiebig,meist > 40 (l/s),häufig > 5 (hm3/a),"Sand, Kies, Tuff (Porenwasserleiter)",1.976371e+08,72841.557107
4,12,3,Bedeutende Grundwasservorkommen,ergiebig,meist 15 - 40 (l/s),meist 1 - 5 (hm3/a),"Sand, Kies, Tuff (Porenwasserleiter)",1.688561e+07,15249.541496